# Data Science Basics
pandas
numpy
scikit-learn

# Deep Learning
torch
pytorch-tabnet
pytorch-tabular

# Imbalance & Loss
imbalanced-learn

# Explainability
shap

# Visualization
matplotlib
seaborn

# Ensemble
lightgbm

# Deployment
fastapi
uvicorn
streamlit